[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
snapi = {path = "./dist/snAPI-0.1.5-cp311-cp311-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.11"
